@tailwind base;
@tailwind components;
@tailwind utilities;


.liquid-btn {
  position: relative;
  padding: 0.60rem 1.5rem;
  font-weight: 500;
  color:white;
  background: transparent;
  border: 2px solid #6B7280;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;
}

